---
layout: default
title: Advising
---

<h1>Advising</h1>

<div class="row">
  <div class="col-md-6">
    <h2>What our Advising provides</h2>
    <p>SEP’s team of advisors comes from varied backgrounds including business leaders, marketing specialists, legal professionals, web developers and product innovators to name a few.  Some of our advisors are no longer working in the conventional sense; some are starting new businesses themselves or sharing their expertise by consulting with existing or new businesses.  Whatever their current position may be, SEP Business Advisors have volunteered to offer their extensive experience to our clients to <strong>“Help Businesses Start, Learn, Grow and Thrive in West Sonoma County”</strong>.</p>
    <p>
      <a href="/advising/apply.html" class="btn btn-primary btn-lg"><i class="fa fa-user"></i> Apply for advising</a>
    </p>
    <p>    <img class="img-rounded img-responsive" src="/img/clientsession_2.jpg"></p>
    <p>All of SEP’s volunteer business advisors take our roles very seriously.  We schedule <strong>two initial client meetings at no charge</strong> so that our client can determine if SEP’s approach is right for them and our advisors can start to work with the client  to map out a plan for success.  Once a client signs on their advisor will work with them to identify specific aspects of their business plan and develop strategy to address them.</p>
    <p>Clients working with Sebastopol Entrepreneurs Project business advisors agree to a minimum payment of <strong>$50 per month</strong> for the advisory services.  While our advisors provide their support on a strictly volunteer basis, this fee helps SEP to provide services to the broader community.  SEP business advisors work with their clients to develop a plan and schedule that works for all parties – usually multiple working sessions/meetings per month.</p>
    <h2>Current Clients</h2>
    <div class="row">
      {% for client in site.data.clients %}
      <div class="col-xs-4">
        <a href="{{ client.url }}"><img class="img-responsive" src="{{client.logo}}" alt="{{ client.name }}"></a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <h2>Our Advisors</h2>

    <ul class="media-list">
      {% for advisor in site.data.advisors %}
      <li class="media">
        <div class="pull-right">
          {% if advisor.img %}
          <img height=100 width=100 class="media-object img-circle" src="/img/photos/{{advisor.img}}">
          {% else %}
          <img class="media-object img-circle" src="holder.js/100x100/lava">
          {% endif %}
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ advisor.name }}</h4>
          {{ advisor.bio | markdownify }}
        </div>
      </li>
      {% endfor %}
    </ul>
    <h3>Would you like to be an advisor?</h3>
    <p>Please <a href="mailto:info@sepyes.com">contact us</a> to find out more about how you can help West Sonoma County businesses thrive and grow.</p>
  </div>
</div>