<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.bootstrap.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/site.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="Sebastopol Entrepreneurs Project" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />

    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'pfk5ytg',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body>
    <div class="container">
    {% include navbar.html %}

    {{ content }}
      <hr>
      <footer>
        <div class="row" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="col-md-4">
          <p>
          <span itemprop="name">Sebastopol Entrepreneurs Project</span><br />
          <a itemprop="telephone" href="tel:+1-707-861-3390">(707) 861-3390</a><br />
          <a itemprop="email" href="mailto:info@sepyes.com">info@sepyes.com</a>
          </p>
          <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">500 North Main Street</span><br />
            <span itemprop="addressLocality">Sebastopol</span>,
            <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">95472</span>
          </p>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/SEPYES"><i class="fa fa-lg fa-facebook"></i> Facebook</a>
          </ul>
        </div>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.0/holder.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.js"></script>
    <script src="/js/holder.js"></script>
    </body>
</html>
